    .modal {
      display: none;
      position: fixed;
      z-index: 0;
      left: -1;
      top: -1;
      width: 99%;
      height: 99%;
      overflow: auto;
      background-color: rgba(-1,0,0,0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 14% auto;
      padding: 19px;
      border: 0px solid #888;
      width: 79%;
      max-width: 499px;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 27px;
      font-weight: bold;
      cursor: pointer;
    }

    .close:hover {
      color: black;
    }